@use "../../App.scss" as g;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.collection-banner-wrap {
    position: relative;
    margin: 70px 0 80px;


    .header-text-wrap {
        height: 70px;
        background: rgba($color: #f4f4f4, $alpha: 1);
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        box-shadow: 0 4px 10px rgba(0,0,0,0.08);


        .header-text-box {
            max-width: 1200px;
            margin: 0 auto;
            @include g.myFlex();
            height: 70px;

            p {
                font-size: 2rem;
                line-height: 140%;
                letter-spacing: -0.8px;
            }

            .collection-menu {
                @include g.myFlex();

                p {
                    @include g.myTitle16($color: g.$text5);

                    &.active {
                        span {
                            border-bottom: 1px solid g.$text1;
                            color: g.$text1;
                        }
                    }
                }

            }
        }
    }

    .img-box {
        width: 100%;
    }

    .text-box {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);

        .title {
            @include g.myTitle24($color: #fff);
        }

        .sub-title {
            font-family: "Playfair Display", serif;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 140%;
            color: g.$text10;
            text-align: center;
            padding-bottom: 18px;
        }

        .des {
            @include g.myTitle16($color: #fff);
            width: 64rem;
            font-weight: 300;
        }
    }


}