.swiper-wrap {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;

  .mySwiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 100%;
      max-height: 560px;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        display:flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  button{
    background:none;
    border:none;
  }
}

/* 커스텀 버튼 */
// .custom-prev {
//   grid
// }

// .custom-next {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 32px;
//   height: 32px;
//   z-index: 10;
//   border: none;
//   background: none;
//   cursor: pointer;
// }

// .custom-prev {
//   left: 0px;
// }

// .custom-next {
//   right: 0px;
// }

// .custom-prev img,
// .custom-next img {
//   width: 100%;
//   height: 100%;
// }
