
@use "../../App.scss" as l;

.logjoin-container {
  width: 100%;
  height: 100vh;
  background: url("../../../public/images/log-img1.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 메인카드
.glass-card {
  position: relative;
  width: 1200px;
  height: 700px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  transition: all 1.2s ease;

  // 슬라이드
  .slider-wrapper {
    display: flex;
    width: 3000px;
    background-color: rgba(244, 244, 244, 0.7);
    height: 100%;
    transition: transform 1.2s cubic-bezier(0.65, 0, 0.35, 1);
  }

  /* -----------------------------------------------------------
     로그인 영역
  ----------------------------------------------------------- */
  .login-area {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-box {
      width: 360px;
      text-align: center;

      h2 {
        @include l.myTitle24();
        margin-bottom: 32px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input {
          width: 100%;
          height: 48px;
          padding: 12px 24px;
          border-radius: 8px;
          background: l.$BG;
          border: none;
        }

        .login-btn {
          @include l.myTitle16();
          width: 100%;
          height: 48px;
          background: l.$text4;
          color: l.$text10;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.3s;


          &:hover {
            background: l.$text1;
          }
        }
      }

      .signup-text {
        margin-top: 12px;
        font-size: 1.6rem;
        color: l.$text4;

        span {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .social-login {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          @include l.myTitle14();
          color: l.$text4;
          margin-bottom: 10px;
        }

        .btn {
          @include l.myTitle16();
          color: l.$text8;
          width: 100%;
          padding: 12px 24px;
          border-radius: 8px;
          border: none;
          background: l.$BG;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: l.$text1;
          }
        }
      }
    }
  }

  /* -----------------------------------------------------------
     이미지 영역
  ----------------------------------------------------------- */
  .image-area {
    width: 588px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    transition: width 1.2s cubic-bezier(0.65, 0, 0.35, 1), opacity 1.2s ease;

    img {
      width: 100%;
      height: 67.6rem;
      object-fit: cover;
      transition: all 1.2s ease;
    }

    .text-overlay {
      @include l.myTitle32();
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: l.$text10;
    }
  }

  //  약관영역
  .term-join-area {
    width: 882px;
    transition: all 1.2s ease;
    margin-left: 13px;

    .terms-wrap {
      margin-top: 14px;
      display: flex;
      height: 67.6rem;
      background: l.$BG;

      .right-side {
        position: relative;
        padding: 40px 60px;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 868px;

        .section-title {
          // width: 80.0rem;
          @include l.myTitle24();
          margin-bottom: 24px;
        }

        .terms-content {
          flex: 1;
          transition: opacity 0.6s ease;

          .title-wrap {
            justify-content: center;
            width: 80rem;
            display: flex;
            gap: 10px;
          }
       

        .terms-box {
          width: 800px;
          height: 478px;
          flex: 1;
          scrollbar-width: none;
          -ms-overflow-style: none;
          display: flex;
          flex-direction: column;

          &::-webkit-scrollbar {
            display: none;
          }

          p {
            @include l.myTitle16();
            text-align: left;
            margin-bottom: 8px;
          }

          .term-wrap1 {
            border-radius: 8px;
            padding: 12px 24px;
            height: 48px;
            background: #fff;
            margin-bottom: 8px;

            label {
              display: flex;
              gap: 8px;
              @include l.myTitle16();
            }
          }

          .term-item2 {
            margin-bottom: 8px;
            background-color: #fff;
            border-radius: 8px;

            .term-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 48px;
              padding: 12px 24px;

              label {
                display: flex;
                gap: 8px;
                @include l.myTitle16();
              }

              .term-toggle {
                @include l.myTitle16();
                color: #777;
                cursor: pointer;
              }
            }

            .term-content {
              font-size: 14px;
              padding: 12px 24px;
              border-radius: 4px;
              color: #333;
              white-space: pre-line;
              overflow-y: auto;
              max-height: 232px;

              &::-webkit-scrollbar {
                display: none;
              }
            }
          }
        }


        .next-btn {
          @include l.myTitle16();
          position: absolute;
          left: 50%;
          bottom: 40px;
          transform: translateX(-50%);
          width: 360px;
          height: 46px;
          border-radius: 8px;
          border: none;
          background: #444;
          color: l.$text10;
          cursor: pointer;
          transition: background 0.3s;


          &:hover {
            background: #000;
          }
        }
      }


        //  회원가입폼
        .join-form {
          position: absolute;
          inset: 0;
          padding: 40px 60px;
          background: transparent;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.6s ease;

          .join-wrap {
            display: flex;
            width: 80.0rem;
            height: 100%;
            background: l.$BG;


            .right-side {
              position: relative;
              padding: 0;
              display: flex;
              flex-direction: column;
              width: 868px;

              .title-wrap {
                justify-content: center;
                width: 100%;
                display: flex;
                gap: 10px;
              }


              .section-title {
                @include l.myTitle24();
                margin-bottom: 24px;

              }

              form {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .join-flex-wrap {
                  display: flex;
                  gap: 40px;

                  .left-inputs,
                  .right-address {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    p {
                      @include l.myTitle16();
                      text-align: left;
                      margin-bottom: 8px;
                    }

                    input {
                      @include l.myTitle14();
                      text-align: left;
                      width: 380px;
                      height: 42px;
                      border: none;
                      border-radius: 8px;
                      padding: 12px 24px;
                      background: l.$text10;

                    }

                    button {
                      @include l.myTitle16();
                      width: 124px;
                      height: 42px;
                      border: none;
                      border-radius: 8px;
                      background: l.$text4;
                      color: l.$text10;
                      cursor: pointer;
                      transition: 0.3s;

                      &:hover {
                        background: l.$text1;
                      }
                    }

                    .address-btn {
                      input {
                        width: 244px;
                      }

                      button {
                        width: 124px;
                      }
                    }
                  }
                }


                .join-btn {
                  @include l.myTitle16();
                  position: absolute;
                  left: 50%;
                  bottom: 0px;
                  transform: translateX(-50%);
                  width: 360px;
                  height: 46px;
                  border-radius: 8px;
                  border: none;
                  background: l.$text4;
                  color: l.$text10;
                  cursor: pointer;
                  transition: background 0.3s;


                  &:hover {
                    background: l.$text1;
                  }
                }
              }
            }
          }
        }

        &.show-join {
          .terms-content {
            opacity: 0;
          }

          .join-form {
            opacity: 1;
            pointer-events: auto;
          }

          .next-btn {
            display: none;
          }
        }
      }
    }
  }

  /* -----------------------------------------------------------
     전환 상태
  ----------------------------------------------------------- */
  &.terms-active {
    .slider-wrapper {
      transform: translateX(-19.6%);
    }

    .image-area {
      width: 282px;
      height: 67.6rem;
      margin-top: 12px;
      opacity: 0.95;
      p{
        opacity: 0;
        transition: opacity 0.9s ease;
      }
    }
  }
}

/* -----------------------------------------------------------
   주소검색 모달
----------------------------------------------------------- */
.post_wrapper {
  position: fixed;
  inset: 0;
  z-index: 50;

  .post_bg {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  .post_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    button {
      margin-top: 10px;
      background: #333;
      color: white;
      width: 100%;
      border: none;
      border-radius: 8px;
      padding: 10px 0;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background: #000;
      }
    }
  }
}
