@import "../../App.scss";

.shop-wrap {
    // padding: 0 0 60rem;
    // margin: 0 2%;


    .inner {
        max-width: 120rem;
        margin: 0 auto;

        .product-filter {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 2rem 0 4rem 0;
            align-items: center;

            .filter-title {
                display: flex;
                gap: 1rem;
                font-size: 1.6rem;
                color: $text4;
                align-items: center;

                .arrow {}

                .select-material {
                    cursor: pointer;
                    display: flex;
                    gap: 1rem;

                    p {
                        color: $text6;
                        margin: 0.5rem 0;

                        &.active {
                            border-bottom: 1px solid $text6;
                            margin: 0.5rem 0;
                            color: $text1;
                        }
                    }

                }

                .product-sort {
                    font-weight: 600;
                    font-size: 1.6rem;
                    color: #000;
                }

                .arrow {
                    align-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .filter {
                display: flex;
                gap: 1.2rem;
                align-items: center;

                .total-product {
                    color: $text6;
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 400;
                }

                button {
                    background: none;
                    border: none;
                }
            }
        }

        .product-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 5.6rem;
            column-gap: 2.4rem;

            .product {
                position: relative;
                // border: 1px solid black;

                .new {
                    position: absolute;
                    top: 2.4rem;
                    left: 2.4rem;
                    z-index: 10;
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                .img-box {
                    border-radius: 0.8rem;
                    position: relative;
                    background: #f4f4f4;


                    .hover-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: 0.3s;
                        border-radius: 0.8rem;
                        overflow: hidden;
                    }

                    &:hover .hover-img {
                        opacity: 1;
                    }
                }

                .text-box {
                    padding-top: 1.2rem;

                    .title {
                        font-size: 1.8rem;
                        font-weight: 500;
                        padding-bottom: 0.4rem;
                    }

                    .price-wrap {
                        position: relative;

                        .sale {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $point2;
                            font-size: 1.6rem;
                            font-weight: 400;
                        }

                        .price {
                            display: flex;
                            // gap: 1.2rem;
                            align-items: center;

                            strong {
                                font-size: 1.6rem;
                                font-weight: 400;
                            }

                            span {
                                font-size: 1.4rem;
                                font-weight: 400;
                                text-decoration: line-through;
                                color: $text6;
                                padding-right: 1.2rem;

                            }
                        }
                    }
                }
            }
        }

        .pager-wrap {
            padding-top: 8rem;
            display: flex;
            justify-content: center;

            .pager {
                display: flex;
                gap: 1.6rem;

                button {
                    background: none;
                    border: none;
                    font-size: 1.6rem;
                    color: $text6;

                    &.active {
                        color: $text1;
                    }
                }
            }
        }
    }

    .filter-popup {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;


        .filter-wrap {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ddd;
            width: 38.4rem;
            height: auto;
            border-radius: 0.8rem;
            padding: 1.6rem;
            top: 390px;
            right: 260px;
            z-index: 2000;

            .filter-title {
                display: flex;
                justify-content: space-between;
                padding-bottom: 4rem;

                h3 {
                    font-size: 1.6rem;
                    font-weight: 500;

                }

                p {
                    cursor: pointer;
                }
            }

            .sort-wrap {
                padding-bottom: 3.2rem;

                .btn-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1.2rem;

                }
            }

            .sort-title,
            .collection-title {
                font-size: 1.6rem;
                font-weight: 400;
                padding-bottom: 1.2rem;
            }

            .collection-wrap {
                padding-bottom: 15rem;

                .btn-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1.2rem;

                }
            }

            button {
                // display: flex;
                background-color: #fff;
                border: 1px solid $text8;
                border-radius: 0.4rem;
                padding: 0.8rem 1.6rem;
                color: $text4;

                &:hover {
                    background-color: $BG;
                }

                &.active {
                    background-color: $text6;
                    color: $text10;
                }

            }

            .apply-btn {
                border-radius: 0.4rem;
                background-color: $text6;
                // padding: 2.3rem 17rem;
                width: 35rem;
                height: 4.6rem;
                text-align: center;
                line-height: 4.6rem;
                font-size: 1.6rem;
                font-weight: 400;
                color: $text10;
                cursor: pointer;

                &:hover {
                    background-color: #000;
                }
            }
        }
    }

}

//반응형
@media screen and (max-width: 1024px) {
    .shop-wrap {
        .inner {
            .product-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .shop-wrap {
        .inner {
            .product-list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}